# AMEX EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# üçô Load Data

## Data
The dataset contains aggregated profile features for each customer at each statement date. Features are anonymized and normalized, and fall into the following general categories:

D_* = Delinquency variables  
S_* = Spend variables  
P_* = Payment variables  
B_* = Balance variables  
R_* = Risk variables  
with the following features being categorical:
['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']


Îç∞Ïù¥ÌÑ∞ÏÖãÏù¥ ÎÑàÎ¨¥ ÌÅ¨Í∏∞Ïóê, @munumbutt'sÏùò [AMEX-feather-Dataset](https://www.kaggle.com/datasets/munumbutt/amexfeather)ÏùÑ ÏÇ¨Ïö©ÌïòÏûê.
Ïú†ÏùòÌï†Ï†êÏùÄ Î∂ÄÎèôÏÜåÏàòÏ†ê Ï†ïÎ∞ÄÎèÑÍ∞Ä 64bitÏóêÏÑú 16bitÎ°ú Î∞îÎÄåÏóàÎã§Îäî Í≤ÉÏù¥Îã§.

In [2]:
train_data = pd.read_feather('../input/amexfeather/train_data.ftr')
test_data = pd.read_feather('../input/amexfeather/test_data.ftr')

In [3]:
train_data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,...,NaN,NaN,0.002426,0.003706,0.003819,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,...,NaN,NaN,0.003956,0.003166,0.005032,NaN,0.009575,0.005493,0.009216,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,...,NaN,NaN,0.003269,0.007328,0.000427,NaN,0.003429,0.006985,0.002604,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960449,0.002455,0.013687,1.002930,0.001372,0.117188,0.000685,0.005531,...,NaN,NaN,0.006119,0.004517,0.003201,NaN,0.008423,0.006527,0.009598,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947266,0.002483,0.015190,1.000977,0.007607,0.117310,0.004654,0.009308,...,NaN,NaN,0.003672,0.004944,0.008888,NaN,0.001670,0.008125,0.009827,0

In [4]:
test_data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-02-19,0.631348,0.001912,0.010727,0.814453,0.007545,0.168701,0.009972,0.002348,...,NaN,NaN,NaN,NaN,0.004669,NaN,NaN,NaN,0.008278,NaN
1,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-03-25,0.586914,0.005276,0.011024,0.811035,0.001817,0.241333,0.000166,0.009132,...,NaN,NaN,NaN,0.000142,0.004940,0.009018,NaN,0.003695,0.003754,0.001460
2,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-04-25,0.608887,0.003326,0.016388,1.004883,0.000114,0.267090,0.004196,0.004192,...,NaN,NaN,NaN,0.000074,0.002113,0.004658,NaN,0.003155,0.002155,0.006481
3,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-05-20,0.614746,0.009064,0.021667,0.816406,0.009720,0.188965,0.004124,0.015327,...,NaN,NaN,NaN,0.004742,0.006393,0.002890,NaN,0.006042,0.005207,0.007858
4,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-06-15,0.591797,0.238770,0.015930,0.810547,0.002026,0.180054,0.000731,0.011284,...,NaN,NaN,NaN,0.008133,0.004330,0.008385,NaN,0.001008,0.007420,0.009468

train_dataÏùò target columÏùÄ train_labels.csvÏùò customer_IDÏùò Ï†ïÎ≥¥ÏôÄ Í∞ôÎã§. ÏõêÎûò(train_data.csv)Îäî ÏóÜÎäî Ïó¥Ïù¥ÎÇò, Ìé∏ÏùòÏÉÅ Î∂ôÏó¨ÎÜìÏïòÎã§.

In [5]:
print("Train statement dates: ", train_data.S_2.min(), train_data.S_2.max(), train_data.S_2.isna().any())
print("Test statement dates: ", test_data.S_2.min(), test_data.S_2.max(), test_data.S_2.isna().any())

Train statement dates:  2017-03-01 00:00:00 2018-03-31 00:00:00 False
Test statement dates:  2018-04-01 00:00:00 2019-10-31 00:00:00 False

Ïó¨Í∏∞ÏÑú S_2Îäî statement data (Ï≤≠Íµ¨Ïùº)Ïù¥Î©∞ train dataÏùò Í≤ΩÏö∞ 2017.03.01 ~ 2018.03.31 (13Í∞úÏõî), test dataÏùò Í≤ΩÏö∞ 2018.04.01 ~ 2019.10.31 (17Í∞úÏõî)Ïù¥Îã§.
missing dataÎäî ÏóÜÎã§.

## Label

missing Îç∞Ïù¥ÌÑ∞ÎÇò Ï§ëÎ≥µÎêòÎäî customer_IDÎäî ÏóÜÎã§. 
458913Ïùò customer_IDs Ï§ë 340,085(74.1%)Í∞Ä label 0(good)Î•º Í∞ÄÏ°åÏúºÎ©∞ ÎÇòÎ®∏ÏßÄ 118,828(25.9%)Í∞Ä label 1(bad)ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÎã§.
[Ïó¨Í∏∞](https://www.kaggle.com/competitions/amex-default-prediction/data)Ïóê Îã§ÏùåÍ≥º Í∞ôÏù¥ ÎÇòÏôÄÏûàÎìØÏù¥
> Note that the negative class has been subsampled for this dataset at 5%, and thus receives a 20x weighting in the scoring metric.

Ïã§Ï†úÎ°úÎäî 680Îßå Î™ÖÏù¥ Ï¢ãÏùÄ Í≥†Í∞ù (98.2%)Ïù¥Î©∞, 1.8%Í∞Ä ÎÇòÏÅú Í≥†Í∞ùÏûÑÏùÑ Ïïå Ïàò ÏûàÎã§.

In [6]:
train_labels = pd.read_csv('../input/amex-default-prediction/train_labels.csv')
train_labels

                                              customer_ID  target
0       0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1       00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2       00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3       000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4       00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0
...                                                   ...     ...
458908  ffff41c8a52833b56430603969b9ca48d208e7c192c6a4...       0
458909  ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fd...       0
458910  ffff9984b999fccb2b6127635ed0736dda94e544e67e02...       0
458911  ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf38814...       1
458912  fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...       0

[458913 rows x 2 columns]

In [7]:
# missing Í≥º Ï§ëÎ≥µ Ï≤¥ÌÅ¨
train_labels.isna().any(), train_labels.customer_ID.duplicated().any()

(customer_ID    False
 target         False
 dtype: bool,
 False)

In [8]:
label_stats = pd.DataFrame({'absolute':train_labels.target.value_counts(), 
                            'relative':train_labels.target.value_counts()/len(train_labels)})
label_stats['absolute upsampled'] = label_stats.absolute * np.array([20, 1])
label_stats['relative upsampled'] = label_stats['absolute upsampled'] / label_stats['absolute upsampled'].sum()

In [9]:
label_stats

   absolute  relative  absolute upsampled  relative upsampled
0    340085  0.741066             6801700             0.98283
1    118828  0.258934              118828             0.01717